<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MenuMapper">
	
	
	<!-- 新增-->
	<insert id="save" parameterType="pd"  keyProperty="F_PRODUCT_ID" useGeneratedKeys="true">
		    
		insert into TB_PRODUCT(
			F_PRODUCTNAME,	
			F_PRODUCTPIC,
			F_PRODUCTDESC,	
			F_PRICE,	
			F_CLSID,	
			F_ISSPECIAL
		) values (
			#{F_PRODUCTNAME},
			#{F_PRODUCTPIC},	
			#{F_PRODUCTDESC},	
			#{F_PRICE},	
			#{F_CLSID},	
			#{F_ISSPECIAL}
		)
		
		<selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
	          SELECT LAST_INSERT_ID() AS id
	    </selectKey>
	    
	</insert>
	
	
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from TB_PRODUCT
		where 
			F_PRODUCT_ID = #{F_PRODUCT_ID}
	</delete>
	
	
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update  TB_PRODUCT
			set 
				F_PRODUCTNAME = #{F_PRODUCTNAME},
				F_PRODUCTDESC = #{F_PRODUCTDESC},
				F_PRICE = #{F_PRICE},
				F_CLSID = #{F_CLSID},
				F_ISSPECIAL = #{F_ISSPECIAL}
			    where 
				F_PRODUCT_ID = #{F_PRODUCT_ID}
	</update>
	
	
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
	
	SELECT
	F_PRODUCTNAME,
	F_PRODUCTDESC,
	F_PRICE,
	F_CLSID,
	F_ISSPECIAL,
	F_PRODUCT_ID,
	(select F_ClsName From tb_class tc where tc.F_ClsId = tbproduct.F_CLSID)as F_CLSNAME,
	(select PATH From tb_pictures tbpictures where tbpictures.PICTURES_ID = tbproduct.F_ProductPic) AS PATH
FROM
	TB_PRODUCT tbproduct
WHERE  F_PRODUCT_ID = #{F_PRODUCT_ID}
	 
	</select>
	
	<!-- 通过F_CLSID获取数据 -->
	<select id="findByClassId" parameterType="page" resultType="pd">
	
		select 
			F_PRODUCTNAME,	
			F_PRODUCTDESC,	
			F_PRICE,	
			F_CLSID,	
			F_ISSPECIAL,	
			F_PRODUCT_ID,
			tbpictures.PATH as PATH
		from 
			TB_PRODUCT tbproduct,TB_PICTURES tbpictures
		where 
			tbproduct.F_ProductPic = tbpictures.PICTURES_ID   AND F_CLSID = #{pd.F_ClsId}
	</select>
	
	  <select id="findNewHot" parameterType="page" resultType="pd">
   select 
			F_PRODUCTNAME,	
			F_PRODUCTDESC,	
			F_PRICE,	
			F_CLSID,	
			F_ISSPECIAL,	
			F_PRODUCT_ID,
            tb_pictures.PATH as F_PATH
		from 
			tb_product   inner join tb_pictures on TB_PRODUCT.F_ProductPic=tb_pictures.PICTURES_ID  
	  where F_Status = 0   order by F_Degree desc   limit 0,3  
   </select>
   
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select
				a.F_PRODUCTNAME,	
				a.F_PRODUCTDESC,	
				a.F_PRICE,	
				a.F_CLSID,	
				a.F_ISSPECIAL,	
				a.F_PRODUCT_ID
		from 
				TB_PRODUCT a
		where 1=1 
		 <if test="pd.KEYWORD != null and pd.KEYWORD != ''"><!-- 关键词检索 -->
			and
				(
					 a.F_ProductName LIKE CONCAT(CONCAT('%', #{pd.KEYWORD}),'%')
					 or 
					 a.F_ProductDesc LIKE CONCAT(CONCAT('%', #{pd.KEYWORD}),'%') 
					 or
					 a.F_Price LIKE CONCAT(CONCAT('%', #{pd.KEYWORD}),'%') 
				)
		</if>
	</select>
	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		SELECT
	tm.*
FROM(
	tb_user tu
INNER JOIN tb_user_role tur ON tu.F_USER_ID = tur.F_USER_ID
INNER JOIN tb_role tr ON tur.F_ROLE_ID = tr.F_ROLE_ID
INNER JOIN tb_role_menu trm ON tr.F_ROLE_ID = trm.F_ROLE_ID
INNER JOIN tb_menu tm ON trm.F_MENU_ID = tm.F_MENU_ID ) where tm.F_STATUS='1' and tu.F_USER_ID=#{F_USER_ID}
  
	</select>
	
	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from TB_PRODUCT
		where 
			F_PRODUCT_ID in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>
	
</mapper>