<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="TbMenuMapper">
	
	
	<!-- 新增-->
	<insert id="save" parameterType="pd"  keyProperty="F_PRODUCT_ID" useGeneratedKeys="true">
		    
		insert into TB_MENU(
			F_MENU_PARENT,	
			F_MENU_NAME,
			F_MENU_URL,	
			F_MENU_ICON,	
			F_MENU_SERIAL,	
			F_STATUS,
			F_LEVEL,
			F_CREATE_DATE
		) values (
			#{parent},
			#{name},	
			#{F_MENU_URL},	
			#{F_MENU_ICON},	
			#{F_MENU_SERIAL},	
			#{F_STATUS},
			#{F_LEVEL},
			#{F_CREATE_DATE}
		)
		
		<selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
	          SELECT LAST_INSERT_ID() AS id
	    </selectKey>
	    
	</insert>
	
	
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from tb_menu
		where 
			F_MENU_ID = #{id}
	</delete>
	
	
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
	
	update tb_menu
	        set 
			    F_MENU_ID = #{id},
		        <if test="parent != null and parent != ''"> 
		          F_MENU_PARENT  =  #{parent},
		        </if> 
				F_LEVEL =  #{level},
				F_MENU_NAME = #{name},	
				F_MENU_URL = #{F_MENU_URL},	
				F_MENU_ICON= #{F_MENU_ICON},
				 <if test="F_MENU_SERIAL != null and F_MENU_SERIAL != ''"> 
		          	F_MENU_SERIAL= #{F_MENU_SERIAL},
		        </if> 	 
				F_STATUS = #{F_STATUS},
				F_CREATE_DATE = #{F_CREATE_DATE} 
		where
			F_MENU_ID = #{id}	
	 
	</update>
	
	
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
	
   select
				a.F_MENU_ID AS id,
				a.F_MENU_PARENT as parent,	
				a.F_LEVEL as level,
				a.F_MENU_NAME as name,	
				a.F_MENU_URL,	
				a.F_MENU_ICON,	
				a.F_MENU_SERIAL,	
				a.F_STATUS,
				a.F_CREATE_DATE,
				"true" as expanded
		from 
				TB_MENU a 
        WHERE  F_MENU_ID = #{id} 
	</select>
	
	  
	<!-- 通过F_CLSID获取数据 -->
	<select id="findByClassId" parameterType="page" resultType="pd">
	
		select 
			F_PRODUCTNAME,	
			F_PRODUCTDESC,	
			F_PRICE,	
			F_CLSID,	
			F_ISSPECIAL,	
			F_PRODUCT_ID,
			tbpictures.PATH as PATH
		from 
			TB_PRODUCT tbproduct,TB_PICTURES tbpictures
		where 
			tbproduct.F_ProductPic = tbpictures.PICTURES_ID   AND F_CLSID = #{pd.F_ClsId}
	</select>
	
	  
   
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select
				a.F_MENU_ID AS id,
				a.F_MENU_PARENT as parent,	
				a.F_LEVEL as level,
				a.F_MENU_NAME as name,	
				a.F_MENU_URL,	
				a.F_MENU_ICON,	
				a.F_MENU_SERIAL,	
				a.F_STATUS,
				a.F_CREATE_DATE,
				"true" as expanded
		from 
				TB_MENU a
		where 1=1 
		 <if test="keyword != null and keyword != ''"><!-- 关键词检索 -->
			and
				(
					 a.F_MENU_NAME LIKE CONCAT(CONCAT('%', #{keyword}),'%')
					 or 
					 a.F_MENU_URL LIKE CONCAT(CONCAT('%', #{keyword}),'%')  
				)
		</if>
	</select>
	
	
		<!-- 列表 -->
	<select id="datalistDigui" parameterType="pd" resultType="pd">
		select
				a.F_MENU_ID AS id,
				a.F_MENU_PARENT as parent,	
				a.F_LEVEL as level,
				a.F_MENU_NAME as name,	
				a.F_MENU_URL,	
				a.F_MENU_ICON,	
				a.F_MENU_SERIAL,	
				a.F_STATUS,
				date_format(a.F_CREATE_DATE,'%Y-%c-%d %h:%i:%s') as F_CREATE_DATE,
				"false" as expanded
		from 
				TB_MENU a
		where 1=1 
		 
		 <if test="id == null ">
			and  a.F_MENU_PARENT IS NULL 
		</if>
		
		 <if test="id != null and id != ''"><!-- 关键词检索 -->
			and  a.F_MENU_PARENT =  #{id}  
		</if>
		
		 <if test="keyword != null and keyword != ''"><!-- 关键词检索 -->
			and
				(
					 a.F_MENU_NAME LIKE CONCAT(CONCAT('%', #{keyword}),'%')
					 or 
					 a.F_MENU_URL LIKE CONCAT(CONCAT('%', #{keyword}),'%')  
				)
		</if>
		
		   ORDER BY F_MENU_SERIAL ASC 
		   
	</select>
	
	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		SELECT
	tm.*
FROM(
	tb_user tu
INNER JOIN tb_user_role tur ON tu.F_USER_ID = tur.F_USER_ID
INNER JOIN tb_role tr ON tur.F_ROLE_ID = tr.F_ROLE_ID
INNER JOIN tb_role_menu trm ON tr.F_ROLE_ID = trm.F_ROLE_ID
INNER JOIN tb_menu tm ON trm.F_MENU_ID = tm.F_MENU_ID ) where tm.F_STATUS='1' and tu.F_USER_ID=#{F_USER_ID}
  
	</select>
	
		
	<!-- 列表(全部) -->
	<select id="listAllRoleMenu" parameterType="pd" resultType="pd">
  
       select tm.*,
       trm.F_MENU_ID AS F_MENU_ID1 
       from tb_menu tm LEFT JOIN tb_role_menu trm on  tm.F_MENU_ID = trm.F_MENU_ID AND trm.F_ROLE_ID = #{F_ROLE_ID}
  
	</select>
	
	
	
	
		<!-- 列表(全部) -->
	<select id="getMax" parameterType="pd" resultType="pd">
           select MAX(F_MENU_SERIAL)+1 as maxFMenuSerial from tb_menu where F_MENU_PARENT=#{parent}
	</select> 
	
	
	
	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from TB_MENU
		where 
			F_MENU_ID in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>
	
</mapper>