<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="TbRoleMapper">
	
	
	<!-- 新增-->
	<insert id="save" parameterType="pd"  keyProperty="F_PRODUCT_ID" useGeneratedKeys="true">
		    
		insert into TB_ROLE(
			F_ROLE_NAME,	
			F_STATUS,
			F_CREATE_DATE,	
			DESCRIPTION
		) values (
			#{F_ROLE_NAME},
			#{F_STATUS},	
			#{F_CREATE_DATE},	
			#{DESCRIPTION}
		)
		
		<selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
	          SELECT LAST_INSERT_ID() AS id
	    </selectKey>
	    
	</insert>
	
		<!-- 新增-->
	<insert id="saveUserRole" parameterType="pd">
		    
		insert into TB_USER_ROLE(
			F_USER_ID,	
			F_ROLE_ID
		) values (
			#{F_USER_ID},
			#{F_ROLE_ID}
		)  
	</insert>
	
	
	<!-- 删除-->
	<delete id="deleteRoleByUser" parameterType="pd">
		delete from TB_USER_ROLE
		where 
			F_ROLE_ID = #{F_ROLE_ID} AND 
			F_USER_ID = #{F_USER_ID}
	</delete>
	
		<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from TB_ROLE
		where 
			F_USER_ROLE_UID = #{F_USER_ROLE_UID} 
	</delete>
	 
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update  TB_ROLE
			set 
				F_ROLE_NAME = #{F_ROLE_NAME}, 
				F_STATUS = #{F_STATUS},
				F_CREATE_DATE = #{F_CREATE_DATE},
				DESCRIPTION = #{DESCRIPTION}
			    where 
				F_ROLE_ID = #{F_ROLE_ID}
	</update>
	
	
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
				F_ROLE_ID,	
				F_ROLE_NAME,	
				F_STATUS,	
				F_CREATE_DATE,	
				DESCRIPTION
		from 
			TB_ROLE 
		where 
			F_ROLE_ID = #{F_ROLE_ID}
	</select>
	
		<!-- 通过ID获取数据 -->
	<select id="getUserRole" parameterType="pd" resultType="pd">
	   select 
	       tr.F_ROLE_ID as F_ROLE_ID, 
	       tr.F_ROLE_NAME  as F_ROLE_NAME,
	       tur.F_ROLE_ID as F_ROLE_ID_1 ,
	       tur.F_USER_ID as F_USER_ID ,
	       tur.F_USER_ROLE_UID  
	       from TB_ROLE tr left JOIN (select *from tb_user_role where F_USER_ID=#{F_USER_ID})  tur on tr.F_ROLE_ID = tur.F_ROLE_ID ;
	 </select>
	 
	 		<!-- 通过ID获取数据 -->
	<select id="getRoleUser" parameterType="pd" resultType="pd">
        	   select 
	       tu.F_USER_ID as F_USER_ID, 
         tu.F_UserName AS F_UserName, 
	       tur.F_ROLE_ID as F_ROLE_ID,
	       tur.F_USER_ID as F_USER_ID_1 ,
	       tur.F_USER_ROLE_UID  
	       from TB_USER tu left JOIN (select *from tb_user_role where F_ROLE_ID=#{F_ROLE_ID})  tur on tu.F_USER_ID = tur.F_USER_ID  
	
    </select>
	 
	 
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select
				a.F_ROLE_ID,	
				a.F_ROLE_NAME,	
				a.F_STATUS,	
				a.F_CREATE_DATE,	
				a.DESCRIPTION
		from 
				TB_ROLE a 
				where 1=1
		 <if test="keyword != null and keyword != ''"><!-- 关键词检索 -->
			and
				(
				  a.F_ROLE_NAME LIKE CONCAT(CONCAT('%', #{keyword}),'%')
			    )
		</if>
	</select>
	
	
	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
			select
				a.F_ROLE_ID,	
				a.F_ROLE_NAME,
				a.F_STATUS,
				a.DESCRIPTION,
				a.F_CREATE_DATE,
				a.F_CREATE_USER,
				a.F_UPDATE_DATE,
				a.F_UPDATE_USER 
		from 
				TB_ROLE a 
	</select>
	
	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from TB_ROLE
		where 
			F_ROLE_ID in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>
	
</mapper>