.searchContent{
width: 180px;
height:25px;
border-radius: 8px 8px 8px 8px;
border: 1px solid #d1d2d9;
background-color: #ffffff;
background-image: url(../images/search_icon.png);
background-position: right center;
background-repeat: no-repeat;
}